---
slug: /
---
{%- graphql g = "modules/homepage/pages_list" -%}

<div class="row">
  <div class="col col-sm-12">
    <h2>Examples index</h2>

    <table class="table table-lg table-bordered table-striped">
      <thead>
        <tr>
          <th>Example</th>
          <th>Docs</th>
        </tr>
      </thead>
      <tbody>
        {% include "modules/homepage/item" for g.admin_pages.results %}
      </tbody>
    </table>
  </div>
</div>

