<div class="mt-4">
  {% query_graph "modules/payments/get_accounts_by_external_id", external_id: context.current_user.id %}

  <h4>List of your accounts:</h4>
  {% if g.customizations.results != empty %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>State</th>
        <th>Actions</th>
        <th></th>
      </tr>

      {% for account in g.customizations.results  %}
        {% assign p = account.properties %}
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.state }}</td>
          <td>
            <a class="btn btn-primary" href="/account/edit/{{ account.id }}">Edit</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You don't have saved accounts yet, please add your first account.</p>
    <a class="btn btn-primary" href="/account/edit">Add Account</a>
  {% endif %}
</div>
