{% assign gateway_name = 'stripe' %}
{% export gateway_name, namespace: "payments"  %}
<div class="mt-4">
  {% query_graph "modules/payments/get_accounts_by_external_id", external_id: context.current_user.id %}

  <h4>List of your accounts:</h4>
  {% if g.customizations.results != empty %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>State</th>
        <th>Actions</th>
        <th></th>
      </tr>

      {% for account in g.customizations.results  %}
        {% assign p = account.properties %}
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.properties.state }}</td>
          <td>
            <div class='row'>
              <div class='col-6'>
                <a class="btn btn-primary" href="/account/edit/{{ account.id }}">Edit</a>
              </div>
              <div class='col-6'>
                {% include 'modules/payments/delete_account', id: account.id %}</td>
              </div>
            </div>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>You don't have saved accounts yet, please add your first account.</p>
    <a class="btn btn-primary" data-add-account href="/account/edit">Add Account</a>
  {% endif %}
</div>
